<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div id="App">
      <div class="container">
        <div class="header">
          <h2>My To Do List</h2>
          <input
            type="text"
            autocomplete="off"
            class="task-input"
            placeholder="New task..."
            v-model="inputvalue"
            @keyup.enter="addTask"
          />
          <button class="addbtn" v-on:click="addTask">Add</button>
        </div>
        <ul class="tasklist">
          <li class="task-list-item" v-for="task in tasks">
            <label class="task-list-item-label">
              <input type="checkbox" />
              <span>{{task}}</span>
            </label>
            <span class="delete-btn" title="Delete Task" @click="delitem(task)">
              {{task.del}}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
